{* This is the welcome page, you can delete it *}

{block content}
<div id="banner">
	<h1 n:block=title>Congratulations!</h1>
</div>

<div id="content">
	{$url}

tests urls:<br>
	<a href="/test/redirect">redirect page: /test/redirect</a><br>


	<a href="/test/show">show page: /test/show </a><br>

</div>

