{* This is the welcome page, you can delete it *}

{block content}
<div id="banner">
	<h1 n:block=title>Show page</h1>
</div>

<div id="content">
show page
	<br>
<br>
<a href="/test/">back to test page</a><br>
</div>


